*{box-sizing: border-box;}
body{
    margin:0 ; 
    direction: rtl;
   
}
#root{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

ul {
    background-color: black;
}